table {
  display: grid;
  border-collapse: collapse;
  /* These are just initial values which are overriden using JavaScript when a column is resized */
  grid-template-columns:
    minmax(40px, 0.33fr)
    minmax(170px, 10fr)
    minmax(68px, 0.55fr)
    minmax(180px, 1fr)
    minmax(130px, 0.05fr)
    minmax(100px, 0.33fr)
    minmax(40px, 0.67fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: white;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: black;
  position: relative;
}

th:last-child {
  border: 0;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  width: 3px;
  cursor: col-resize;
}

/* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
.resize-handle:hover,
.header--being-resized .resize-handle {
  opacity: 0.5;
}

th:hover .resize-handle {
  opacity: 0.3;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr td {
  padding: 20px;
  margin-top: 10px;
  background: white;
}

@media screen and (min-width: 40em) {
  .body {
    background-color: rgb(146, 146, 146);
  }

  .sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  .sidebar img {
    width: 100%;
  }

  .sidebar ul {
    background-color: white;
    list-style: none;
    padding: 0;
    font-size: 12px;
  }

  .sidebar li a {
    display: block;
    color: black;
    margin-left: 0;
    background: white;
    text-decoration: none;
    font-size: 1.25em;
    padding: 1em 0 1em 2em;
  }

  .sidebar li[class="active"] a {
    background: green;
    color: white;
  }

  .fa-circle {
    color: white;
    padding-right: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.05em;
  }

  .mainPage {
    width: calc(100vw - 250px);
    background-color: rgb(238, 238, 238);
    left: 250px;
    position: relative;
    min-height: 100vh;
  }

  .mainField {
    position: relative;
    height: auto;
  }

  .page {
    padding: 5em;
  }
}
